body {
	background: #a5d4ef;
}

.template {
	display: none;
}

.main-content {
	padding: 20px;
	background-color: white;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	border-radius: 0 0 15px 15px;
	margin-bottom: 40px;
}

.form-actions {
	margin-top: 0;
	margin-bottom: 0;
}

#select {
	margin-bottom: 20px;
}

form {
	margin-bottom: 0;
}

.busy {
	display: inline-block;
	margin-left: 15px;
	padding-bottom: 4px;
}